# MongoDB connection string
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.example.mongodb.net/<dbname>?retryWrites=true&w=majority

# Auth secret key
JWT_SECRET=your_jwt_secret_key

# Optional port
PORT=3001
